<section id="contenedor">
<%= render 'layouts/header' %><br>
<section id="cartelera" >
<section id="texto">
<h1>Programas</h1>
<p> Somos una Escuela estadal dedicada a la instrucción de cursos gratuitos por módulos en las especialidades de:</p>
 <ul>
  <li>Pintura y dibujo.</li>
  <li>manualidades</li>
  <li>Bisutería</li>
  <li>Confección</li>
  <li>Reposteria y Panaderia</li>
  <li>Peluquería y Barbería</li>
  <li>Manicura y Pedicura</li>
</ul> 
</section>

</section>
<footer>
		<p> Escuela de Artes y oficios Carmen cabriles copyright 2020. Todos los derechos reservados.
</p>
</footer>
</section>
