<section id="contenedor">
<%= render 'layouts/header' %>
<section id="cartelera" >
<section id="texto">
<h1>Programas</h1>
<%= image_tag("artesyoficios.jpg", width: '300px') %>

<p>Los cursos gratuitos que actualmente presentamos son en las especialidades de:</p>
<div class="container-fluid" id="mision">
 <ul>
  <li>Pintura y dibujo.</li>
  <li>manualidades</li>
  <li>Bisutería</li>
  <li>Confección</li>
  <li>Reposteria y Panaderia</li>
  <li>Peluquería y Barbería</li>
  <li>Manicura y Pedicura</li>
 </ul>
 </div><br>
</section>

</section>
<footer>
		<p> Escuela de Artes y oficios Carmen cabriles copyright 2020. Todos los derechos reservados.
</p>
</footer>
</section>
