<section id="contenedor">
<section id="texto">
<h1>Lista de Usuarios</h1>

<% if current_user && current_user.admin %>
	<%= link_to "Crear Usuario", new_user_registration_path , class: 'btn btn-default' %>
<br>
<table id='usuario-tabla' class="table table-hover">
            <thead  class="thead-light">
             <tr>
                <th>Usuario</th>
                <th colspan="1"></th>
              </tr>
            </thead>            
            <tbody>
            <% @users.each do |user| %>
                            <tr>
                              <td><%= user.name %></td>
			      <td><%= user.email %></td>
	 <td><%= link_to "Borrar", admin_destroy_user_path(user), method: :delete, data: { confirm: "Seguro?" } , class: 'btn btn-default' %></td>
</tr>
<% end %>
     </tbody>
          </table>                
<%end%>
</section>
<footer>
		<p> Escuela de Artes y oficios Carmen cabriles copyright 2020. Todos los derechos reservados.
</p>
</footer>
</section>
