<section id="contenedor">
<%= render 'layouts/header' %>
<section id="cartelera" >
   <section id="texto">
     <h1>¿Quienes somos?</h1>
     <p>Somos una Escuela estadal dedicada a la instrucción de cursos gratuitos por módulos de las artes aplicadas y de los oficios artísticos.</p>
     <div class="container-fluid" id="mision">
<h2>Mision</h2>
<p>Incentivar la integración de los entes correspondientes en la formación moral,
cívica, cultural y académica de los ciudadanos y ciudadanas; a través de estrategias
que permitan un trabajo socio-productivo. Alcanzando logros significativos que responden
a la visión de un proyecto sustentando en los valores morales y étnicos, así como en las
transformación del quehacer educativo-comunitario.</p>
     </div><br>
     <div class="container-fluid" id="mision">
<h2>Vision</h2>
<p>formar ciudadanos criticos, creativos, participativos, corresponsables de su desarrollo
personal y profesional, con bueno habitos, sustentandos en valores morales y eticos,
reflejadosen una conciencia productiva y asetiva que le permita convivir en sana paz,
armonia y equidad de sus semejantes.</p>
     </div><br>
<p>Estamos ubicados en la zona 2 de los Naranjos, detrás del módulo policial, Guarenas, Municipio plaza, Estado Miranda.</p>
<p>Para mayor informacion comunicarse con el correo: .O al numero +58</p>
</section>
		</section>

<footer>
		<p> Escuela de Artes y oficios Carmen cabriles copyright 2020. Todos los derechos reservados.
</p>
</footer>
</section>
