<section id="contenedor">
<%= render 'layouts/header' %>
<section id="cartelera" >
<section id="texto">
<h1>¿Quienes somos?</h1>
<p>Mision.</p>
<p>contribuir con el desarrollo .</p>
<p>Vision.</p>
<p>EExcelencia.</p>
<p>Estamos ubicados en la zona 2 de los Naranjos, detrás del módulo policial, Guarenas, Municipio plaza, Estado Miranda.</p>
<p>Para mayor informacion comunicarse con el correo: .O al numero +58</p>
</section>
		</section>

<footer>
		<p> Escuela de Artes y oficios Carmen cabriles copyright 2020. Todos los derechos reservados.
</p>
</footer>
</section>
