<section id="contenedor">
<%= render 'layouts/header' %>
<section id="texto">
<h1>Nuevo Articulo</h1>
</section>

<%= render "form", articulo: @articulo %>

<%= link_to "Volver", articulos_ver_path %>
<footer>
		<p> Escuela de Artes y oficios Carmen cabriles copyright 2020. Todos los derechos reservados.
</p>
</footer>	
</section>
