<section id="contenedor">

<%= render 'layouts/header' %>
<div class="title-container">
<h1>Nuevo Articulo</h1>
</div>
<%= render "form", articulo: @articulo %>

<%= link_to "Volver", articulos_ver_path %>
<footer>
		<p> Escuela de Artes y oficios Carmen cabriles copyright 2020. Todos los derechos reservados.
</p>
</footer>	
</section>
