<section id="contenedor">
  <%= render 'layouts/header' %>
<section id="texto">
<h1>Nuevo Artículo</h1>
<%= render "form", articulo: @articulo %>	
</section>
<footer>
		<p> Escuela de Artes y oficios Carmen cabriles copyright 2020. Todos los derechos reservados.
</p>
</footer>
</section>
